:root {
  --gray: #333B4C;
  --google-font: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#hr-main-style {
  border: .25rem solid #333B4C;
}

.background-gray {
  background-color: var(--gray);
}

.text-gray {
  color: var(--gray);
}

.italic {
  font-style: italic;
}

.google-font-400 {
  font-family: var(--google-font-fam);
  font-weight: 400;
}

.google-font-500 {
  font-family: var(--google-font-fam);
  font-weight: 500;
}

.google-font-600 {
  font-family: var(--google-font-fam);
  font-weight: 600;
}

.google-font-700 {
  font-family: var(--google-font-fam);
  font-weight: 700;
}

.google-font-800 {
  font-family: var(--google-font-fam);
  font-weight: 800;
}

.google-font-900 {
  font-family: var(--google-font-fam);
  font-weight: 900;
}

.google-font-1000 {
  font-family: var(--google-font-fam);
  font-weight: 1000;
}

/*Chat GPT*/
.chat-container {
  max-width: 400px;
  /* margin: auto; */
}

.chat-box {
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
}

.message {
  padding: 5px;
  margin-bottom: 10px;
}

.user {
  background-color: #d3f4ea;
  text-align: right;
}

.bot {
  background-color: #f0f0f0;
  text-align: left;
}
