:root {
  --gray: #333B4C;
  --google-font: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#hr-main-style {
  border: .25rem solid #333B4C;
}

.background-gray {
  background-color: var(--gray);
}

.text-gray {
  color: var(--gray);
}

.italic {
  font-style: italic;
}

.google-font-400 {
  font-family: var(--google-font-fam);
  font-weight: 400;
}

.google-font-500 {
  font-family: var(--google-font-fam);
  font-weight: 500;
}

.google-font-600 {
  font-family: var(--google-font-fam);
  font-weight: 600;
}

.google-font-700 {
  font-family: var(--google-font-fam);
  font-weight: 700;
}

.google-font-800 {
  font-family: var(--google-font-fam);
  font-weight: 800;
}

.google-font-900 {
  font-family: var(--google-font-fam);
  font-weight: 900;
}

.google-font-1000 {
  font-family: var(--google-font-fam);
  font-weight: 1000;
}

/*Chat GPT*/

.chat-box {
  border: 1px solid #ccc;
  padding: 10px;
  height: 22rem;
  overflow-y: scroll;
}

.message {
  padding: 5px;
  margin-bottom: 10px;
}

.user {
  background-color: #d3f4ea;
  text-align: right;
}

.bot {
  background-color: #f0f0f0;
  text-align: left;
}

/* Message Bubble Animations */
@keyframes bubble-fade-in {
  0% {opacity: 0;}
  20% {opacity: .2;}
  40% {opacity: .4;}
  60% {opacity: .6;}
  80% {opacity: .8;}
  100% {opacity: 1;}
}

.message-bubble {
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
  animation-name: bubble-fade-in;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.animation-delay-1 {
  animation-delay: .5s;
}

.animation-delay-2 {
  animation-delay: 1s;
}

.animation-delay-3 {
  animation-delay: 1.5s;
}